@font-face {
    font-family: 'font1';
    src: url('fonts/font1.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 8px;
    font-family: 'font1', sans-serif;
    background-color: #000;
    color: #fff;
    font-size: 14px;
}

::selection {
    background: #fff;
    color: #000;
}

/* Wallet Grid */
.wallet-grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 8px;
    width: 100%;
    margin-top: 1rem;
}

/* Wallet Box */
.wallet-box {
    background-color: #1E1E1E;
    border: 1px solid #383838;
    border-radius: 1rem;
    padding: 1rem;
    width: 400px;
    height: 50px;
    
    transition: background-color 0.3s ease;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    user-select: none;
}

.wallet-box:hover {
    background-color: #272727;
}

.wallet-content {
    display: flex;
    align-items: center;
}

.wallet-box .icon {
    color: #FFFFFF;
    font-size: 15px;
    margin-top: -10px;
}

.wallet-box.copied {
    background-color: #1E2E1E !important;
    transition: background-color 0.3s ease;
}

.wallet-text {
    display: flex;
    flex-direction: column;

    margin-left: 14px;
    margin-top: -12px;
}

.wallet-name {
    font-size: 14px;
}

.wallet-address {
    color: #D3D3D3;

    font-size: 13px;
    margin-bottom: -1px;
    max-width: 310px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {
    color: #FFFFFF;

    font-size: 1.1rem;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
}

input[type="text"], textarea {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-left: -8px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    border: 1px solid #383838;
    border-radius: 1rem;
    color: #FFFFFF;
    font-family: font1;
    outline: none;
}

input[type="text"]:hover, textarea:hover {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #272727;
    border: 1px solid #383838;
    border-radius: 1rem;
    color: #FFFFFF;
    font-family: font1;
    outline: none;
}

button {
    background-color: #1E1E1E;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #383838;
    font-family: font1;
    height: 50px;
}

button:hover {
    background-color: #272727;
    border: 1px solid #383838;
}

button:active {
    background-color: #1E1E1E;
    border: 1px solid #383838;
}

#user-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#user-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#user-info p {
    font-size: 14px;
    margin: 5px 0;
}

#user-info img {
    border-radius: 50%;
}